<div class="span8 well">
  <span class="badge">Badge1</span>
  <span class="badge">Badge2</span>

  <h4>
    <%= link_to post.title, post.url %>
  </h4>

  <p><%= post.description %></p>
  <p>
    <span class="quiet">Posted by</span>
    <%= link_to post.creator.username, "#" %>
    <small>at <%= post.created_at %></small>
  </p>
  <small>
    <span>
      <%= link_to(pluralize(post.comments.size, "comment"), post_path(post)) %>
    </span>
  </small>
</div>
