- if logged_in?
  %p.pull-right= link_to "Edit this post", edit_post_path(@post)

= render 'posts/badges', post: @post

%p.lead= @post.title
%hr/

%p= @post.description
%hr/

- if logged_in?
  = render 'shared/errors', obj: @comment
  = render 'comments/form'

= render 'comments/comment', comments: @post.reload.comments
