= render 'shared/errors', obj: @category

.well
  = form_for @category do |f|
    .control-group
      = f.label :name
      = f.text_field :name
    .control-group
      = f.submit class: 'btn btn primary'
