%ul.nav
  %li
    = link_to "Postit!", root_path, class: 'brand'

.nav_item
  = render 'layouts/categories_menu'

- if logged_out?
  .nav_item
    = link_to "Register", new_user_path, class: "btn btn-success btn-small"

  .nav_item
    = link_to "Log in", login_path, class: 'btn btn-small'

- if logged_in?
  .nav_item
    = link_to "New Post", new_post_path, class: "btn btn-success btn-small"

  = render 'layouts/user_menu'
